$_ligth_grey: #ededed;
$_dark_grey: #919191;

$_background: linear-gradient(180deg, rgba(0, 150, 136, 1) 20%, rgba(213, 219, 216, 1) 20%);
$_background_overlay: linear-gradient(180deg, rgba(0, 150, 136, 1) 18.3%, rgba(213, 219, 216, 1) 18.3%);
$_background_darker: #090e11;
$_background_default: #fff;