$_ligth_grey: #ededed;
$_dark_grey: #919191;
$_green: #00bfa5;
$_green_icon:#009688;
$_white: #fff;

$_background: linear-gradient(180deg, rgba(0, 150, 136, 1) 15.4%, rgba(213, 219, 216, 1) 15.4%);
$_background_overlay: linear-gradient(180deg, rgba(0, 150, 136, 1) 18.3%, rgba(213, 219, 216, 1) 18.3%);
$_background_darker: #090e11;
$_background_header_darker: #2a2f32;
$_background_search_darker: #323739;
$_background_default: #fff;