@import "_partials/variables";
@import "_partials/common";

#app {
  height: 100vh;
  overflow: hidden;
  position: relative;

  #container-app {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    & > .container-lg {
      height: calc(100% - 38px);
      margin-top: 19px;

      .left-column {
        border-right: 1px solid $_ligth_grey;
      }

      /*HEADER*/
      .header {
        background: $_ligth_grey;
        height: 59px;

        img {
          width: 50px;
        }

        .icon {
          color: $_dark_grey;
          cursor: pointer;

          .btn {
            padding: 0;

            &:focus {
              box-shadow: none;
            }

            &.btn-link {
              color: inherit;
            }
          }
        }
      }

      /*End HEADER*/

      /*Notify*/
      .notify {
        min-height: 62px;
        background-color: #9de1fe;
        cursor: pointer;

        .icon {
          color: $_ligth_grey;
        }

        .text {
          div:nth-child(2):hover {
            text-decoration: underline;
          }
        }
      }

      /*End Notify*/

      /*Search*/
      .search {
        background-color: $_ligth_grey;
        height: 49px;

        button {
          &.btn {
            padding: 0.20rem 0.60rem;
            color: $_dark_grey;
            background-color: #fff;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;

            &:focus {
              box-shadow: none;
            }
          }
        }

        .text-search {
          input {
            &.btn {
              padding: 0.20rem 0.60rem;
              text-align: left;
              width: 100%;
              border: 0;
              background-color: #fff;
              border-top-right-radius: 30px;
              border-bottom-right-radius: 30px;
              min-height: 34.9px;

              &:focus {
                box-shadow: none;
              }
            }
          }
        }
      }

      /*End Search*/

      /* List Chat*/
      .list-chat {
        height: calc(100% - 188px);
        background-color: $_background_default;

        .chat-box {
          height: 72px;
          // border-top: 1px solid $_ligth_grey;
          border-bottom: 1px solid $_ligth_grey;
          cursor: pointer;

          .icon-group {
            background: $_green_icon;
          }

          img {
            width: 60px;
          }

          .text-chat {
            overflow: hidden;

            .last-message {
              color: $_dark_grey;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }

          .icon-hour {
            color: $_dark_grey;

            .hour {
              font-size: 0.8rem;
              white-space: nowrap;
            }
          }
        }
      }

      /*End List Chat*/

      /*Overlay Init*/
      .container-overlay {
        color: $_white;

        .top {
          height: 158px;
          background: $_green;
          position: relative;

          .text-overlay-top {
            font-size: 1.3rem;
            position: absolute;
            left: 10px;
            bottom: 20px;

            i {
              cursor: pointer;
            }
          }
        }

        .list-chat {
          .chat-box {
            .name {
              color: black;
            }
          }
        }
      }

      /*End Overlay Init*/

      /*Chat Init*/
      .init-chat {
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 99%, rgba(74, 223, 131, 1) 99%);

        .text-init {
          max-width: 400px;

          h1 {
            font-size: 32px;
            font-weight: 300;
          }

          p {
            font-size: 14px;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.45);

            &.message {
              border-bottom: 1px solid $_ligth_grey;
            }

            a {
              text-decoration: none;
              color: $_green;
            }
          }
        }

        .chat-user-header {
          background: $_ligth_grey;
          height: 59px;

          .user-img-profile {
            img {
              width: 50px;
            }
          }

          .icon-user-header {
            color: $_dark_grey;
          }
        }

        .chat-container {
          height: calc(100% - 121px);
          background-image: url("../../img/background.png");
          background-color: #e5ddd5;
          background-position: center center;


          .hour-sent {
            color: $_dark_grey;
            position: absolute;
            font-size: 11px;
            bottom: 3px;
            right: 10px;
          }

          .box3 {
            width: 300px;
            border-radius: 15px;
            background: #dcf8c6;
            color: #000;
            padding: 10px;
            text-align: left;
            font-weight: 400;
            font-size: 14px;
            position: relative;

            &:hover {
              .hover-chavron {
                display: block;
              }
            }
          }

          .hover-chavron {
            position: absolute;
            top: -10px;
            right: 10px;
            display: none;

            .btn {
              box-shadow: none;
            }

            .btn-link {
              color: $_dark_grey;
            }
          }

          /* speech bubble 13 */

          .sb13:before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            border-left: 15px solid #dcf8c6;
            border-right: 15px solid transparent;
            border-top: 15px solid #dcf8c6;
            border-bottom: 15px solid transparent;
            right: -16px;
            top: 0;
          }


          /* speech bubble 14 */

          .sb14 {
            background-color: #ffffff;

            &:before {
              content: "";
              width: 0;
              height: 0;
              position: absolute;
              border-left: 15px solid transparent;
              border-right: 15px solid #ffffff;
              border-top: 15px solid #ffffff;
              border-bottom: 15px solid transparent;
              left: -16px;
              top: 0;
            }
          }
        }

        .footer-chat {
          height: 62px;
          background-color: $_ligth_grey;

          .send {
            input {
              outline: none;
              border: 0;
              border-radius: 30px;
              padding: 0.5rem;
            }
          }

          .icon-send {
            color: $_dark_grey;
          }
        }
      }

      /*End Chat Init*/
    }

    /*Dark Mode*/
    &.dark {

      .header {
        background: $_background_header_darker;
      }

      .notify {
        background-color: #085373;

        .text {
          color: white;
        }
      }

      .search {
        background: $_background_header_darker;

        button {
          &.btn {
            background: $_background_search_darker;
          }
        }

        .text-search {
          input {
            color: white;

            &.btn {
              background: $_background_search_darker;
            }
          }
        }
      }

      .list-chat {
        background: $_background_header_darker;

        .text-chat {
          .name {
            color: white;
          }
        }
      }

      .container-overlay {
        background: $_background_header_darker;

        .top {
          color: white;
        }

        .list-chat {
          .chat-box {
            .name {
              color: white;
            }
          }
        }
      }

      .init-chat {
        .chat-user-header {
          background: $_background_header_darker;

          .name-user {
            color: white;
          }
        }

        .chat-container {
          background-color: rgba($_background_header_darker, 0.7);

          .hover-chavron {
            .btn-link {
              color: white;
            }
          }

          .hour-sent,
          .read {
            color: white;
          }

          .box3 {
            background-color: $_green;
            color: white;
            font-weight: 400;
          }

          .sb13:before {
            border-left: 15px solid $_green;
            border-top: 15px solid $_green;
          }

          .sb14 {
            background-color: $_background_header_darker;

            &:before {
              border-right: 15px solid $_background_header_darker;
              border-top: 15px solid $_background_header_darker;
            }
          }
        }

        .footer-chat {
          background-color: $_background_header_darker;

          .send {
            input {
              background-color: $_background_search_darker;
              color: white;
            }
          }
        }
      }
    }

    /*End Dark Mode*/
  }
}